@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-regular.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-regular.ttf);
}

.container {
    display: flex;
}

h1 {
    font-family: 'Montserrat';
    text-align: left;
    margin-left: 1%;
    display: inline-block;
}

.logo{
    display: inline-block;
    margin-left: 1%;
}
h3 {
    font-family: 'Montserrat';
    padding-left: 1%;
}

.add-input {
    font-family: 'Roboto';
    width: 90%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.edit-input {
    font-family: 'Roboto';
    width: 50%;
    margin-bottom: 1%;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.submit-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 80px;
    margin-top: 1%;
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
    margin: 2% 0;
}

.submit-btn:hover{
    background-color: #008CBA;
    color: white;
}

.confirm-edit {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 80px;
    margin-top: 1%;
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #2e7d32;
}

.confirm-edit:hover{
    background-color: #2e7d32;
    color: white;
} 

.delete-btn, .edit-btn, .cancel-edit, .cancel-delete, .confirm-delete{
    font-weight: 600;
    width: 80px;
}

.delete-btn , .cancel-edit, .confirm-delete{
    font-family: 'Montserrat';
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f44336;    
}

.delete-btn:hover, .confirm-delete:hover{
    background-color: #f44336;
    color: white;    
}

.edit-btn, .cancel-edit, .cancel-delete {
    font-family: 'Montserrat';
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;    
}

.edit-btn:hover, .cancel-edit:hover, .cancel-delete:hover{
    background-color: #555555;
    color: white;    
}

.table {
    font-family: 'Roboto';
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem;
    line-height: 1.5;
    flex: 1 1 auto;
    overflow-y: auto;
    min-width: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.th {
    font-weight: 700;
    background-color: #e53935;
    color: white;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0.5em;
    text-overflow: ellipsis;
    width: 20%;
}

.tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0.5em;
    text-overflow: ellipsis;
    width: 20%;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
}

.add-form {
    display: flex;
    flex-direction: column;
    flex: 0 0 20em;
    background-color: white;
    width: 94%;
    padding-left: 5%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.form-container {
    width: 20%;
    height: 20%;
    background-color: #e53935;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding-bottom: 1%;
    padding-left: 3px;
    margin-top: 8px;
}

.form-response, .edit-form-response{
    color: red;
    margin-left: 2%;
}

.modal-content{
    position: absolute;
    background-color: #555555;
    width: 20%;
    height: 30%;
    top: 30%;
    left: 30%;
    z-index: 100;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.modal-content > h3 {
    margin-left: 2%;
}

.confirm-modal, .delete-modal{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    z-index: 50;
}

.close-modal{
    float: right;
    margin: 1%;
    color: white;
    cursor: pointer;
}

.show-modal{
    display: flex;
}
.hide-modal{
    display: none;
}

.modal-body{
    padding: 2%;
    background-color: white;
    margin-left: 2%;
    width: 92%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.delete-modal > .modal-content{
    height: 15%;
    width: 15%;
    top: 40%;
    left: 40%;
}

.remove-contact{
    font-family: 'Roboto';
    color: black;
    margin-bottom: 2%;
}

.td.buttons{
    justify-content: space-around;
}



@media (max-width: 991px) {
    .tableHead.fixed{
        width: 96%;
    }

    .fixed{
        position: fixed;
        top: 0;
    }

    thead > .fixed + tbody {
      padding-top: 100px;
    }
    .add-input{
        width: 80%;
    }
    .container {
        flex-direction: column;
    }
    .add-form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-container {
        order: -1;
        height: auto;
        width: 100%;
        padding-bottom: 3%;
        padding-left: 1%;
    }
    .tr{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
    }
    
    .add-form{
        padding-left: 1%;
        width: 98%;
    }
    
    .th{
        border-bottom: solid 1px #d0d0d0;
    }
    
    .th:last-child{
        border-bottom: none;
    }
    
    .td, .th{
         flex: 1 1 150px; 
    }
    
    .submit-btn{
        width: 75px;
    }
    
    .modal-content{
        width: 80%;
        height: 40%;
        top: 20%;
        left: 10%;
    }
    
    .delete-modal > .modal-content{
        height: 20%;
        width: 80%;
        top: 20%;
        left: 10%;
    }
}

@media (max-width: 767px){
    .tableHead.fixed{
        width: 92%;
    }
}

@media screen and (max-width: 767px) and (orientation:landscape){
    .tableHead.fixed{
        width: 95%;
    }
    
    .modal-content{
        height: 80%;
        top: 5%;
    }
    
    .delete-modal > .modal-content{
        height: 40%;
        top: 5%;
    }
}
