@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-regular.otf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/Roboto-regular.ttf);
}

.container {
    display: flex;
}

h1 {
    font-family: 'Montserrat';
    text-align: left;
    margin-left: 1%;
}

h3, label {
    font-family: 'Montserrat';
}

input {
    width: 90%;
}

.submit-btn {
    font-family: 'Montserrat';
    font-weight: 600;
    width: 80px;
    margin-top: 1%;
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #008CBA;
}

.submit-btn:hover{
    background-color: #008CBA;
    color: white;
}

.delete-btn, .edit-btn{
    font-weight: 600;
    width: 80px;
}

.delete-btn{
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #f44336;    
}

.delete-btn:hover{
    background-color: #f44336;
    color: white;    
}

.edit-btn{
    color: black;
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;    
}

.edit-btn:hover{
    background-color: #555555;
    color: white;    
}

.table {
    font-family: 'Roboto';
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem;
    line-height: 1.5;
    flex: 1 1 auto;
}

.th {
    display: none;
    font-weight: 700;
    background-color: #f2f2f2;
}

.th > .td {
    white-space: normal;
    justify-content: center;
}

.tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.td {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    white-space: nowrap;
    border-bottom: 1px solid #d0d0d0;
    justify-content: center;
}

.add-form {
    display: flex;
    flex-direction: column;
    flex: 0 0 20em;
}

.form-container {
    width: 20%;
    background-color: #f2f2f2;
    padding-bottom: 1%;
    padding-left: 1%;
}

.modal-content{
    position: absolute;
    background-color: #f2f2f2;
    width: 50%;
    height: 50%;
    top: 20%;
    left: 20%;
    z-index: 100;
}

.confirm-modal{
    display: none;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 50;
}

.show-modal{
    display: flex;
}
.hide-modal{
    display: none;
}

@media (max-width: 991px) {
    .container {
        flex-direction: column;
    }
    .add-form {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-container {
        order: -1;
        height: auto;
        width: 100%;
        padding-bottom: 3%;
    }
    .td.buttons {
        flex-direction: column;
    }
    
    .submit-btn{
        width: 75px;
    }
}
