.container{
    display: flex;
}

h1{
    text-align: center;
}

.table {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
    justify-content: center;
}

.add-form{
    display: flex;
    flex-direction: column;
    flex: 0 0 20em;
}

.form-container{
    #height: 100vh;
    border: 1px solid red;
    width: 20%;
}

@media (max-width: 991px){
    .container{
        flex-direction: column;
    }
    .add-form{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .form-container{
        order: -1;
        height: auto;
        width: 100%;
    }
    .td.buttons{
        flex-direction: column;
    }
}
